# sudo nano /etc/systemd/system/gunicorn.service

[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=django
Group=www-data
WorkingDirectory= /home/django/jinbsite/Portfolio_Django_App/jinbsite
ExecStart=/home/django/jinbsite/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/run/gunicorn.sock \
    jinbsite.wsgi:application

[Install]
WantedBy=multi-user.target